

#NET "Q[2]" LOC = G1;
#NET "Q[1]" LOC = P4;
#NET "Q[0]" LOC = N4;
NET "sclk" LOC = M5;

NET "clear" LOC = P11;
NET "clk" LOC = B8;
NET "dir_up" LOC = N3;


# PlanAhead Generated physical constraints 

NET "AN[3]" LOC = K14;
NET "AN[2]" LOC = M13;
NET "AN[1]" LOC = J12;
NET "AN[0]" LOC = F12;

NET "CA[7]" LOC = N13;
NET "CA[6]" LOC = M12;
NET "CA[5]" LOC = L13;
NET "CA[4]" LOC = P12;
NET "CA[3]" LOC = N11;
NET "CA[2]" LOC = N14;
NET "CA[1]" LOC = H12;
NET "CA[0]" LOC = L14;







